body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  padding: 8px;
  background: rgba(255, 145, 0, 0.8);
  border-radius: 8px;
  margin: 0;
  font-size: 64px;
}

p {
  line-height: 1.5;
}

main {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

/*Banner*/

#banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2) url('../img/living-room.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  color: white;

  h3 {
    background: black;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 24px;
  }
}

/*Navigation*/

nav {
  height: 72px;
  background: #363535;
  width: 100%;
  margin: 0;
  position: fixed;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 0;
  box-sizing: border-box;
  z-index: 100;

  a {
    padding: 0 32px;
    color: #eee;
    transition: 0.4s;

    &:hover {
      text-decoration: none;
      color: #e69824;
    }
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
  }
}

.active {
  color: #ba3f00;
}

#logo-img {
  display: flex;
  height: 100%;
  background: #111;
  padding: 0 32px;
  align-items: center;
  color: white;
  transition: 0.4s;

  img {
    height: 60px;
  }

  &:hover {
    background: black;
  }
}

#menu-icon {
  height: 100%;
  font-size: 28px;
  padding: 0 4px;
  color: #eee;
  display: none;
  align-items: none;
}

#slideout-menu {
  display: none;
  background: #2d3436;
  z-index: 100;
  position: fixed;
  transition: 0.4s;
  margin-top: 72px;
  width: 100%;
  text-align: center;
  opacity: 0;
  pointer-events: none;

  ul {
    list-style: none;
    padding: 0 32px;

    li {
      padding: 8px;
    }
  }

  a {
    font-size: 20px;
    color: white;
  }
}

section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*card*/

.card-image {
  /*transition: 0.4s;*/
  width: 50%;
  height: 50px;
}

.card-image2 {
  /*transition: 0.4s;*/
  width: 50px;
  height: 40px;
}

.card-img:hover {
  box-shadow: 0 10px 6px -6px #777;
}

.color-orange {
  color: #e69824;
}

.color-banner {
  color: black;
}

/*Blog list page*/

.page-heading {
  font-size: 40px;
  border-bottom: 2px solid black;

  /*border-right: 3px solid black;*/
  transition: all 0.4s;
  display: inline-block;
  padding: 4px 32px;
  margin-top: 120px;
  text-align: center;

  &:hover {
    padding: 4px 50px;
    border-bottom: 2px solid #e69824;

    /*background: orangered;*/
  }
}

/* Single service*/

#service {
  display: flex;
}

#service-desc {
  /*display:flex;
    flex-direction: column;*/
  width: 70%;
  border-left: 1px solid #999;

  .card {
    width: 100%;
  }

  .card-img:hover {
    box-shadow: none;
  }
}

/* Pricing list*/

.pricing {
  float: left;

  /*width: 40%;*/
  padding: 8px;
}

/* Style the list */

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4);
  }

  .header {
    background-color: #e69824;
    color: white;
    font-size: 25px;
  }

  li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
}

/* Add shadows on hover */

/* Pricing header */

/* List items */

/*============================= footer ======================================*/

footer {
  background: black;
  padding: 8px;
  color: #eee;
  display: flex;
  margin-top: 4rem;

  a {
    color: white;
  }

  .left-footer {
    flex: 1;
    border-right: 1px solid #ba3f00;
    padding-left: 30px;
  }

  .middle-footer {
    flex: 2;

    /*border-right: 1px solid red;*/
    border-right: 1px solid #ba3f00;
    padding-left: 30px;
  }

  .left-footer ul {
    padding: 0;
    list-style: none;
    line-height: 1.5;
  }

  .right-footer {
    flex: 3;
    padding: 8px;
    text-align: center;
  }

  #social-media-footer {
    a {
      .fa-facebook,
      .fa-google,
      .fa-linkedin {
        color: white;
        transition: 0.4s;
      }
    }

    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      padding: 0;

      li {
        font-size: 48px;
        padding: 16px;
        transition: 0.4s;

        &:hover a {
          .fa-google {
            color: red;
          }

          .fa-facebook {
            color: #3b5998;
          }

          .fa-linkedin {
            background: #3b5998;
            color: white;
            border-radius: 3px;
          }
        }
      }
    }
  }
}

/*============================== Media =====================================*/
@media (max-width: 900px) {
  nav ul,
  .left-footer {
    display: none;
  }

  #menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #slideout-menu {
    display: block;
  }

  #searchbox {
    display: none;
  }

  #service-desc {
    width: 100%;
    border-left: 0;
  }

  #sidebar {
    display: none;
  }

  #service {
    flex-direction: column;
  }

  #pricing {
    width: 100%;
    border-left: 0;
  }

  #map {
    width: 100%;
  }
}

@media (max-width: 719px) {
  main {
    width: 95%;
  }

  section {
    flex-direction: column;
  }

  .card {
    width: 100%;

    .card-image img {
      width: 100%;
    }
  }

  footer {
    flex-direction: column;
    text-align: center;

    .left-footer {
      flex: 1;
      border-right: 0;
      padding-left: 0;
    }

    .middle-footer {
      border-right: 0;
      padding-left: 0;
    }

    .right-footer {
      background: #dbc6ad;
      color: black;

      a {
        color: black;
      }
    }

    #social-media-footer a {
      .fa-facebook,
      .fa-google,
      .fa-linkedin {
        color: black;
        transition: 0.4s;
      }
    }
  }
}

@media (max-width: 680px) {
  main {
    width: 100%;
  }

  h1 {
    font-size: 48px;
  }

  #banner h3 {
    font-size: 20px;
  }

  .card {
    text-align: center;
  }

  #logo-img {
    padding: 0;
  }
}

@media (min-width: 720px) {
  main {
    width: 95%;
  }

  .card {
    width: 45%;

    .card-image img {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  main {
    width: 85%;
  }
}
